   @media only screen and (height: 900px) {
       .game-menu-buttons {
           top: 26%;
       }
   }

 /* -------- für Smartphones und Tablets ------------- */

@media screen and (max-height: 480px), screen and (max-width: 1024px) and (min-height: 600px) {
    canvas {
           width: 100vw;
           height: 100vh;
           margin-top: 0;
           box-sizing: border-box;
           border: none;
       }

       .mobile {
           display: none;
       }

       body {
           width: 100% !important;
           height: 100vh !important;
           box-sizing: border-box;
           gap: 0;
           margin: 0;
           padding: 0 !important;
       }

       .game-panels {
           width: 100%;
           padding: 0 50px;
       }

       #gamePanels {
           display: flex;
       }

       .game-panels {
           bottom: 40px;
           width: 100%;
           padding: 0 20px;
       }

       .game-menu-buttons {
           width: 100%;
           top: 10px;
           padding-right: 20px;
       }

       #fullscreenMode {
           width: 100vw;
           height: 100vh;
           margin: 0;
           padding: 0;
           border: none !important;
           box-sizing: border-box;
       }

       .popup-content-div {
           margin: 0;
           padding:20px 0;
           overflow: auto;
           height: 100vh;
           width: 100vw;
           box-sizing: border-box;
           border: none;
       }

       .menu-screen {
           height: 100vh;
           width: 100vw;
           box-sizing: border-box;
           border: none;
       }

   }