<div>
    <h1>Imprint</h1>
    <p><strong>Student Name:</strong></p>
    <p>Samuel Hilgert</p>
    <br>
    <p>
        <strong>Address:</strong><br>
        Uhlandstraße<br>
        Viernheim, Germany
    </p>
    <br>
    <p>
        <strong>Email:</strong> <a href="'mailto:samuel.hilgert.webmaster@outlook.de">samuel.hilgert.webmaster@outlook.de</a>
    </p>

    <h2>Acceptance of Terms</h2>
    <p>By accessing and using El Pollo Loco, you acknowledge and agree to the following terms and conditions and any policies, guidelines or modifications thereto that may be presented to you from time to time. I reserve the right to update or change the Terms and Conditions from time to time without prior notice. </p>

    <h2>Scope and Ownership of the Product</h2>
    <p>El Pollo Loco has been developed as part of a student project in a web development bootcamp at the Developer Akademie GmbH. It has an educational purpose and is not intended for extensive personal & business usage. As such, i can not guarantee consistent availability, reliability, accuracy, or any other aspect of quality regarding this Product.</p>
   
    <p>The design of El Pollo Loco is owned by the Developer Akademie GmbH. Unauthorized use, reproduction, modification, distribution, or replication of the design is strictly prohibited.</p>

    <h2>Proprietary Rights</h2>
    <p>Other than the design, which belongs to Developer Akademie GmbH, I retain all ownership rights to El Polo Loco, including all associated copyrighted materials, trademarks and other proprietary information.</p>

    <h2>Use of the Product</h2>
    <p>El Pollo Loco is intended to be used for lawful purposes only, in accordance with all applicable laws and regulations. Any use of El Pollo Loco for illegal activities, or to harass, harm, threaten, or intimidate another person, is strictly prohibited. You are solely responsible for your interactions with other users of El Pollo Loco.</p>

    <h2>Disclaimer of Warranties and Limitation of Liability</h2>
    <p>El Pollo Loco is provided "as is" without warranty of any kind, whether express or implied, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. In no event will i or the Developer Akademie, be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, even if i have been advised of the possibility of such damages, arising out of or in connection with the use or performance of El Pollo Loco.</p>

    <h2>Indemnity</h2>
    <p>You agree to indemnify, defend and hold harmless me, the Developer Akademie, and our affiliates, partners, officers, directors, agents, and employees, from and against any claim, demand, loss, damage, cost, or liability (including reasonable legal fees) arising out of or relating to your use of El Pollo Loco and/or your breach of this Legal Notice. </p>

    <p> For any questions or notices, please contact us at <a href="'mailto:samuel.hilgert.webmaster@outlook.de">samuel.hilgert.webmaster@outlook.de</a>.</p>

    <p>Date: July 15, 2024</p>
</div>