<div class="menu-settings d_f_c_c gap-20 pad-y-20 pad-x-20">
        <button class="menu-settings-btn" onclick="restartGame()" id="restartBtnMenu">Restart</button>     
        <button class="menu-settings-btn" onclick="initGame()" id="playBtnMenu">Start</button>
        <button class="menu-settings-btn" onclick="continuePlay()" id="continuePlayBtnMenu">Continue</button>
        <button class="menu-settings-btn" onclick="clickMenuIcon('keyboard')">Controls</button>
        <button class="menu-settings-btn" onclick="readStory()" id="readStory">Story</button>
        <button class="menu-settings-btn" onclick="clickSoundBtn()" id="soundMenuSetting">Sound Off</button>
</div>